footer {
    width: 100%;
    bottom: 0;
    position: relative;
    text-align: center;
    color: #10465b;
    background-color: #c0d0d7;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 5px solid #347b98;
    border-bottom: 5px solid #347b98;
}

footer p {
    font-size: 18px;
    padding: 5px;
    margin: 0;
}