/* This ensure the page fills the whole screen*/
body {
    margin: 0;
    background-color: white;
}

.nav-bar-container {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    color: #10465b;
    background-color: #c0d0d7;
    border-top: 5px solid #347b98;
    border-bottom: 5px solid #347b98;
    /*border-bottom: 5px solid #347b98;*/
}

.nav-bar-container h1 {
    font-size: 36px;
    text-align: left;
    vertical-align: center;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 0px;
}

.nav-bar {
    display: block;
    justify-content: space-between;
    align-items: baseline;

}

.nav-bar ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar a {
    float: right;
    display: inline;
    display: block;
    color: #10465b;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.nav-bar a:hover {
    color: #347b98;
}