@import "ColourScheme.css";

.form-container {
   display: flex;
   justify-content: center;
}

.account-form {
    text-align: center;
    background-color: #c9dbd5;
    color: var(--dark-green);
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 5px;
    width: 35%;
    border-radius: 5px;
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.5));
}

.account-form h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.account-form h3 {
    font-size: small;
}


.account-form input[type=text], input[type=password], select {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
}


.account-form input[type=submit], select {
    padding: 10px 50px;
    width: 180px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    background-color: white;
    box-shadow: 0px 2px 3px #96a39e;
    outline: none;
    color: var(--dark-green);
}

.account-form input[type=submit]:hover {
    background-color: #ffffffce;
    color: var(--dark-green);
}

.account-form ::placeholder {
    color: var(--dark-green);
}

.account-form form {
    margin: 40px 80px 100px;
}

.name-field {
    display: flex;
    flex-direction: row;
}

.name-field input {
    width: 100%;
    box-sizing: border-box;
}

.nav-link, .nav-link:visited {
    color: var(--dark-green);
    display: block;
    margin: 20px;
    text-decoration: none;
}

.nav-link:hover  {
    color: var(--mid-green);
}

.google-button {
    margin: 10px;
}