@import "DefaultStyles.css";

/* VIEW PORTFOLIO */

.v-files {
    margin: auto;
    width: 50vw;
    text-align: center;
    color: var(--dark-portfolio);
    padding-bottom: 5%;
}

.files-title {
    text-align: center;
    margin: 20px;
}

.file-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: auto;
    justify-content: center;
    align-content: center;
}

.file-img img {
    height: 30vw;
}

/* EDIT PORTFOLIO */

.e-files {
    text-align: center;
    width: 100%;
}

.e-files h1 {
    margin-top: 20px;
}

.fedit-img {
    height: 50vh;
    margin: 1em;
    border-radius: 7%;
}