@import "DefaultStyles.css";

.file-container {
    padding-bottom: 5%;
}

.files {
    text-align: center;
    width: 100%;
}

.files h1 {
    margin-top: 20px;
}

.v-files {
    text-align: center;
    width: 50%;
    padding-left: 25%;
    color: var(--dark-portfolio);
}

.form {
    margin-bottom: 2rem;
}

.form-input {
    display: block;
    margin-bottom: 10px;
}

.fedit-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: auto;
    justify-content: center;
    align-content: center;
}

.fedit-img {
    height: 50vh;
    margin: 1em;
    border-radius: 7%;
}