/* Import the default colour scheme for the website */
@import "DefaultStyles.css";

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: var(--white);
    background-color: var(--mid-blue);
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 0 10px var(--dark-blue);
    z-index: 10;
}

.footer-text {
    font-size: 18px;
    padding: 5px;
    margin: 0;
}