:root {
    --btn-text-color: #f9f9f9;
    --alert-success-bg-color: #d4edda;
    --alert-success-text-color: #155724;
    --alert-danger-bg-color: #f5c6cb;
    --alert-danger-text-color: #721c24;
}

.pcontainer {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
}

.btn {
    padding: 0.5rem 1rem;
    border: 1px solid var(--mid-green);
    background-color: var(--light-green);
    color: var(#176966);
    border-radius: 5px;
    transition: 250ms;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.btn:hover {
    border: 1px solid var(--accent-color);
    background-color: var(--btn-text-color);
    color: var(--acent-color);
}

.form {
    margin-bottom: 2rem;
}

.form-input {
    display: block;
    margin-bottom: 10px;
}

.gallery-form {
    width: 100px;
    margin: 5%;
    text-align: center;
    background-color: var(--light-green);
    color: var(--dark-green);
    border-radius: 5px;
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.5));
    width: 20%;
    padding: 2%;
    margin: 7%;
}

.gedit-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.gedit-img {
    width: 25em;
    border-radius: 7%;
}