@import "DefaultStyles.css";

:root {
    --btn-text-color: #f9f9f9;
    --alert-success-bg-color: #d4edda;
    --alert-success-text-color: #155724;
    --alert-danger-bg-color: #f5c6cb;
    --alert-danger-text-color: #721c24;
}

.pcontainer {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 40px;;
    color: var(--dark-portfolio);
}

.carousel {
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
}

.title {
    text-align: center;
    margin: 20px;
}

.gallery-form {
    margin: 5% auto;
    text-align: center;
    background-color: var(--light-portfolio);
    color: var(--dark-portfolio);
    border-radius: 5px;
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.5));
    width: 60%;
    padding: 2%;
}

.gallery-form input {
    margin-right: 5%;
    word-wrap: break-word;
}

.gedit-container {
    padding-left:6.5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: auto;
    justify-content: center;
    align-content: center;
}

.gedit-img {
    margin: 1vw;
    height: 20vh;
    border-radius: 7%;
}