
.pcontainer {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
}

.gallery-form {
    margin: 5%;
    background-color: var(--light-blue);
    box-shadow: 0 0 2px var(--dark-blue);
    width: 20%;
    text-align: center;
    color: var(--black);
    padding: 2%;
}

.gallery-form input {
    padding: 5%;
}

.gedit-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.gedit-img {
    width: 25em;
    border-radius: 7%;
}