.landing-container {
    background-image: url("../assets/landingImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    border-bottom: 0;
    padding-bottom: 0;
    padding-top: 50px;
}

.landing-text-container {
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 60vw;
    border-radius: 50px 50px 0 0;
    background-color: var(--light-green);
    color: var(--dark-green);
    text-align: center;
}

.landing-title {
    padding: 20px;
    font-size: xx-large;
    font-weight: bold;
}

.landing-desc {
    padding: 0 20px;
}

.landing-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    padding-bottom: 50px;
    padding-top: 0.6vw;
    bottom: 0;
}

.landing-button {
    background-color: var(--mid-green);
    transition-duration: 0.2s;
    width: 19.6vw;
    height: 100px;
    font-size: large;
    border: none;
    color: var(--white);
    font-weight: bold;
    margin: 0 0.3vw;
}

#left {
    border-radius: 0 0 0 50px;
}

#right {
    border-radius: 0 0 50px 0;
}

.landing-button:hover {
    background-color: var(--dark-green);
}

.landing-nav a {
    text-decoration: none;
}

.landing-nav a:visited {
    text-decoration: none;
}

.landing-button:active {
    outline: none;
}

.landing-text {

}