@import "DefaultStyles.css";

* {
    margin: 0;
    padding: 0;
}

.portfolio-page  {
    color: var(--dark-portfolio);
}

.portfolio-container {
    padding-bottom: 2%;
    padding-right: 5%;
    padding-left: 5%;
    overflow: hidden;
    background-color: var(--light-portfolio);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}




.private-toggle-container {
    padding: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
}

.private-toggle-item {
    text-align: center;
    padding: 10px 30px;
}

.tab-list {  border-bottom: 1px solid #ccc;
    padding-left: 0;
}

.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 1rem 0;
    width: 24.9%;
    text-align: center;
    background-color: var(--mid-portfolio);
    color: white;
    box-shadow: 0 0 10px var(--dark-portfolio);
}

.tab-list-active {
    background-color: var(--dark-portfolio);
    border-width: 1px 1px 0 1px;
}

.user-info {
    float: right;
    text-align: center;
    flex: 2;
    padding-top: 8%;
    margin-left: 10%;
    padding-right: 5%;
 }



.name {
    padding-bottom: 1em;
}

.img-container {
   display: flex;
   justify-content: center;
}

.img-container .img {
    width: 25vh;
    height: 25vh;
    border: 1px dashed black;
}

.img {
    min-height: 300px;
    min-width: 300px;

    margin-top: 10%
}



.p-text-box {
    margin-left: 15%;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    width: 70%;
}

.save-btn {
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    background-color: var(--mid-portfolio);
    color: var(--white);
    border: none;
    box-shadow: 0 0 2px var(--dark-portfolio);
}

.right-btn {
    float: right;
    margin-right: 15%;
}

.save-btn:hover {
    background-color: var(--dark-portfolio);

}

.save-btn-tab {
    display: block;
    bottom: 0;
    margin: 50px;
    padding: 5px;
    border-radius: 5px;
}

.small-text-box, select {
    display: block;
    height: 35px;
    margin-bottom: 10px;
}

.text-box, select {
    display: block;
    height: 300px;
    margin-bottom: 10px;
    resize: vertical;
    overflow-y: auto;
    border: 2px solid #ccc;
    border-radius: 2px;
}

.pp-container {
    width: 20%;
    height: 20%;
    margin-right: 0%;
    margin-left: 15%;
    position: relative;
}

.img-container {
    padding-left: 10%;
    width: 100%;
}

.img-container .profile-img {
    padding-top: 60%;
}

.profile-img img {
    margin-bottom: 5px;
}

.upload-img {
    z-index: 1;
    padding-top: 25%;
    padding-left: 40%;
    padding-right: 50%;
}

.pp-btn {
    float: right;
    margin-right: 2px;
}

.avatar {
    padding-top: 5%;
}

.pp-title {
    text-align: center;
}



.contact-title {
    padding-bottom: 15px;
}

.contact-item {
    display: block;
}

.access-denied {
    text-align: center;
    color: var(--dark-portfolio);
    font-weight: bold;
    font-size: xx-large;
    padding: 100px;
}

.page-toggle {
    padding: 2%;
}

.view-edit-container {
    padding-top: 50px;
    display: grid;
    grid-template-rows: auto auto;
}

.view-edit-btn {
    margin-left: auto;
    margin-right: 25%;
}